{
  "presets" : [
    "@babel/preset-env",
    [
      "@babel/prest-react",
      {
        "runtime" : "automatic"
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins" : [
    [
      "@babel/plugin-transform-rutime",
      {
        "regeneratoe": true
      }
    ]
  ]
}
